.container_input input {
  width: 300px;
  height: 30px;
  font-size: 18px;
}

.container_botao button {
  width: 100px;
  height: 30px;
  margin-top: 24px;
  border: 2px outset gray;
  background: linear-gradient(45deg, #9a7979, #841414);
  font-size: 16px;
  color: wheat;
  font-weight: 500;
}

.container_botao button:active {
  border-style: none;
  background: linear-gradient(45deg, #841414, #9a7979);
}
