h2 {
  color: wheat;
  text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px darkred;
}
h2 span {
  text-transform: capitalize;
}
.deslogar {
  font-weight: 700;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 16px;
  background: linear-gradient(45deg, #9a7979, #841414);
  border: 2px outset gray;
  color: wheat;
}
.deslogar:active {
  border-style: none;
  background: linear-gradient(45deg, #841414, #9a7979);
}
